form {
    display: grid;
    gap: 8px;
    grid-template-columns: 90px auto;
    color: var(--color-text);

    label {
        text-align: left;
        font-weight: bold;
        line-height: 24px;
    }

    select,
    input {
        color: var(--color-text);
        background-color: var(--color-listitem-bg);
        border: none;

        &:focus {
            outline: none;
        }
    }

    .btn {
        height: 56px;
        color: var(--color-text);
    }
}