.btn {
  width: 32px;
  height: 32px;
  font-size: large;
  color: black;
  color: var(--color-text);
  background-color: var(--color-btn-bg);
  border: none;
  cursor: pointer;

  display: flex;
  justify-content: center;
  align-items: center;
}

.btn:hover {
  background-color: var(--color-btn-hover-bg);
}

.settings {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;
  color: var(--color-text);
  background-color: var(--color-bg);
  width: 100%;
  min-height: calc(100vh - 64px);
  margin: 0 auto;
  padding: 32px 0;

  &>* {
    min-width: 560px;
    max-width: 560px;
    margin: 0 auto;
  }

  .nav {
    height: 48px;
    text-align: left;
    align-self: flex-start;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .title {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 16px;

      h1 {
        font-size: 32px;
        font-weight: bold;
      }

      .done {
        height: 48px;
        min-width: 48px;
        border-radius: 50%;
        font-size: 32px;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 8px;
        margin: 0 0 0 auto;
      }
    }

    .router {
      display: flex;
      justify-content: center;
      align-items: center;

      .btn {
        width: 48px;
        height: 46px;
        font-size: 24px;
      }

      .router-link-active {
        border-bottom: 2px solid var(--color-text);
      }

      &>:not(.router-link-active) {
        border-bottom: 2px solid var(--color-btn-bg);
      }
    }
  }
}