ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  overflow-y: scroll;

  &::-webkit-scrollbar {
    width: 8px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: var(--color-scrollbar-thumb-bg);
    cursor: pointer;

    &:hover {
      background-color: var(--color-scrollbar-thumb-hover-bg);
    }
  }

  &::-webkit-scrollbar-track {
    background-color: var(--color-scrollbar-track-bg);
  }

  li {
    max-height: 104px;

    .ListItem {
      display: flex;
      border: none;
      border-top: 0.5px solid var(--color-listitem-border);
      text-decoration: none;
      color: var(--color-listitem-text);
      background-color: var(--color-listitem-bg);
      width: 100%;
      height: 100%;
      padding: 8px;
      cursor: pointer;

      p,
      time {
        display: flex;
        align-items: center;
        height: 16px;
      }

      .Image {
        object-fit: cover;
        min-width: 88px;
        max-width: 88px;
        min-height: 88px;
        max-height: 88px;
        margin-right: 8px;
      }

      .Info {
        display: flex;
        flex-direction: column;
        justify-content: start;
        width: 100%;

        .RssInfo {
          display: flex;
          justify-content: space-between;
          height: 16px;
          font-size: small;

          .RssTitle {
            display: flex;
            align-items: center;

            .RssImage {
              object-fit: cover;
              min-width: 16px;
              max-width: 16px;
              min-height: 16px;
              max-height: 16px;
              margin-right: 4px;
              border-radius: 50%;
            }
          }
        }

        .Title {
          font-size: medium;
          font-weight: bold;
          width: 100%;
          height: 64px;
          text-align: left;
          padding-top: 8px;
          overflow: hidden;
          -webkit-line-clamp: 3;
          text-overflow: ellipsis;
          display: -webkit-box;
          -webkit-box-orient: vertical;
        }
      }
    }
  }
}